.about {
    background-image: url('/src/images/img-6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-size: 100px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.about h1{
    font-family: FUT2;
}


.about p{
    background-color: rgba(0, 0, 0, .2);
    padding: 12px;
    font-size: .6em;
    text-align: justify;
    width: 50rem;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr2);
    padding: 5em;
    gap: 5em;
}

.location h1{
    color: var(--clr1);
}

.location-text {
    max-width: 32vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    padding: 4em 4em;
    color: var(--clr1);
    background-color: rgba(0, 0, 0, .03);
    font-family: 'Merriweather', serif;
    line-height: 1.6;
}

#map{
    outline: 1px solid var(--clr1);
    width: 40%;
    height: 60vh;
}

.mapContainer{
    height: 100%;
}

@media screen and (max-width: 768px){
    .about p{
        width: 20rem;
        font-size: .5em;
        background-color: rgba(0, 0, 0, .5)
    }

    .location{
        flex-direction: column;
    }

    #map{
        margin: 0 0 20px 0;
        width: 80%;
    }
}