.equipeBs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--clr2);
    padding: 4em 15em 4em 4em;
    color: var(--clr1);
    font-family: FUT;
    gap: 2em;
}

.person {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;

}

.person p{
    font-size: 1.2em;
    margin-top: 5px;
    margin-right: 25px;
    text-align: right;
}

.person h3 {
    font-size: 2.4em;
    margin-right: 25px;
    text-align: right;
}

.equipeBs img {
    height: 50vh;
    object-fit: cover;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr2);
    padding: 5em;
    gap: 5em;
}

.location h1 {
    color: var(--clr1);
    font-size: 2.4em;
}

.location p {
    font-size: 1.4em;
}


.locationText {
    max-width: 45vw;
    align-items: center;
    justify-content: center;
    color: var(--clr1);
    font-family: 'Merriweather', serif;
    line-height: 1.6;
}

#map {
    outline: 1px solid var(--clr1);
    width: 40%;
    height: 60vh;
}

.mapContainer {
    height: 100%;
}

.line-1 {
    display: none;
}

@media screen and (max-width: 768px) {
    .about p {
        width: 20rem;
        font-size: .5em;
    }


    #map {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .equipeBs {
        grid-template-columns: 1fr;
        padding: 4em 1em 2em 1em;
        gap: 2em;
    }

    .person {
        flex-direction: column-reverse;
        gap: 1em;
        padding: 2em;
    }

    .person h3 {
        text-align: center;
        margin-right: 0;
        margin-top: 10px;
    }
    
    .person p{
        text-align: center;
        margin-right: 0;
    }

    .location {
        flex-direction: column;
        padding: 1em;
        gap: 1em;
    }

    .locationText {
        max-width: 100vw;
        padding: 1em;
        text-align: center;
    }

    .locationText p {
        font-size: 1.2em;
        padding: .7em 0;
    }

    .line-1 {
        display: flex;
        height: 1.2px;
        width: 60vw;
        background: var(--clr1);
        margin-bottom: 40px;
    }


}