.equipeBs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--clr2);
    padding: 4em;
    color: var(--clr1);
    font-family: FUT;
    gap: 2em;
}

.person{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    padding: 1em;
}

.person h3{
    font-size: 2.4em;
    margin-right: 10px;
}

.equipeBs img{
    height: 50vh;
    object-fit: cover;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr2);
    padding: 5em;
    gap: 5em;
}

.location h1{
    color: var(--clr1);
}

.location-text {
    max-width: 32vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    padding: 4em;
    color: var(--clr1);
    background-color: rgba(0, 0, 0, .06);
    font-family: 'Merriweather', serif;
    line-height: 1.6;
}

#map{
    outline: 1px solid var(--clr1);
    width: 40%;
    height: 60vh;
}

.mapContainer{
    height: 100%;
}

@media screen and (max-width: 768px){
    .about p{
        width: 20rem;
        font-size: .5em;
    }

    
    #map{
        margin: 0 0 20px 0;
        width: 100%;
    }
    
    .equipeBs{
        grid-template-columns: 1fr;
        padding: 4em 1em 2em 1em;
        gap: 2em;
    }
    
    .person{
        flex-direction: column;
        gap: 1em;
        padding: 2em;
        text-align: center;
    }
    
    .location{
        flex-direction: column;
        padding: 1em;
        gap: 1em;
    }
    
    .location-text {
        max-width: 100vw;
        font-size: 1.3rem;
        padding: 1em;
    }

    .location p{
        font-size: 1em;
    }
}