.footer-container {
    background-color: #5f4e6b;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.footer-heading {
    margin-bottom: 10px;
    font-size: 36px;
    font-family: 'Merriweather', serif;
}

.footer-text {
    margin-bottom: 24px;
    font-size: 18px;
}

.footer-tel {
    margin-bottom: 35px;
    font-size: 20px;
}

/* Social Icons */
.social-icon-link {
    color: #fff;
    font-size: 34px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

@media screen and (max-width: 820px) {
    .footer-link-wrapper {
        flex-direction: column;
    }

}