.footer-container {
    background-color: var(--clr1);
    padding: 4em;
    display: flex;
    color: var(--clr2);
    gap: 2.2em;
}

.prof{
    display: flex;
    flex-direction: column;
    gap: 2.2em;
}

.footer-subscription > *{
    margin: 10px;
}

.footer-heading {
    font-size: 36px;
    font-family: 'Merriweather', serif;
}

.footer-text {
    font-size: 18px;
}

.footer-tel {
    font-size: 20px;
}

/* Social Icons */
.social-icon-link {
    color: var(--clr2);
    font-size: 34px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

@media screen and (max-width: 820px) {
    .footer-container {
        flex-direction: column;
        text-align: center;

    }

}